Fiap.DesenvolvimentoWeb.ClienteWCF/Service References/Srf/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fiap.DesenvolvimentoWeb.ServicoWCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fiap.DesenvolvimentoWeb.ServicoWCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57905/Service1.svc?xsd=xsd3" namespace="FiapWCF" />
  <xs:complexType name="ArrayOfFuncionario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionario" nillable="true" type="tns:Funcionario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario" nillable="true" type="tns:ArrayOfFuncionario" />
  <xs:complexType name="Funcionario">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="FiapWCF" base="q1:Person">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalarioBruto" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario" />
</xs:schema>