Fiap.DesenvolvimentoWeb.ClienteWCF/Service References/Srf/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57905/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fiap.DesenvolvimentoWeb.ServicoWCF.Models" />
  <xs:element name="ListarFuncionarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFuncionariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fiap.DesenvolvimentoWeb.ServicoWCF.Models" minOccurs="0" name="ListarFuncionariosResult" nillable="true" type="q1:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>